.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 3;
}


.backdrop-animation-enter {
	opacity: 0;
}

.backdrop-animation-enter-active {
	opacity: 1;
	transition: .2s;
}

.backdrop-animation-exit {
	opacity: 1;
}

.backdrop-animation-exit-active {
	opacity: 0;
	transition: .2s;
}